.text-right
  .row.about_links
    %ul.list-inline
      %li.twitter
        - link_to 'http://twitter.com/ckazu', target: :_blank do
          %i.fa.fa-3x.fa-twitter-square
      %li.facebook
        - link_to 'http://www.facebook.com/ckazu', target: :_blank do
          %i.fa.fa-3x.fa-facebook-square
      %li.github
        - link_to 'http://www.github.com/ckazu', target: :_blank do
          %i.fa.fa-3x.fa-github-square

      %li.feed
        - link_to 'feed.xml' do
          %i.fa.fa-3x.fa-rss-square

.row.text-center
  %p &copy ckazu
