.text-right
  .row.social
    %ul.list-inline
      %li
        - link_to 'http://twitter.com/ckazu', target: :_blank do
          %i.fa.fa-3x.fa-twitter-square
      %li
        - link_to 'http://www.facebook.com/ckazu', target: :_blank do
          %i.fa.fa-3x.fa-facebook-square
      %li
        - link_to 'http://www.github.com/ckazu', target: :_blank do
          %i.fa.fa-3x.fa-github-square
.row.text-center
  %p &copy ckazu
